In [1]:
import os
os.chdir('C:/Users/Abhinav Singh/OneDrive/Desktop/GitHub Project/Data Science Jobs Project')

In [2]:
import pandas as pd
table = pd.read_csv('glassdoor_jobs.csv')
table.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$77K-$92K (Glassdoor Est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
1,Data Scientist,$77K-$92K (Glassdoor Est.),"Secure our Nation, Ignite your Future\n\nSumma...",4.1,ManTech\n4.1,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,₹100 to ₹500 billion (INR),-1
2,Data Scientist,$77K-$92K (Glassdoor Est.),"By clicking the Apply button, I understand tha...",3.7,Takeda\n3.7,"Cambridge, MA","OSAKA, Japan",10000+ employees,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),"Novartis, Baxter, Pfizer"
3,Data Scientist,$77K-$92K (Glassdoor Est.),Join Our Growing Team\nA career with A Place f...,3.0,A Place for Mom\n3.0,"Overland Park, KS","New York, NY",501 to 1000 employees,2000,Company - Private,Healthcare Services & Hospitals,Healthcare,Unknown / Non-Applicable,"Enlivant, Sunrise Senior Living, Brookdale Sen..."
4,Data Scientist,$77K-$92K (Glassdoor Est.),We are looking for Data Scientists who are int...,3.7,GovTech\n3.7,"San Francisco, CA","Singapore, Singapore",1001 to 5000 employees,2016,Government,Government Agencies,Government,Unknown / Non-Applicable,-1

In [4]:
# Cleaning 'Salary Estimate
table = table[table['Salary Estimate'] != '-1']
#print (table.shape)

(1000, 14)
(1000, 14)

In [5]:
salary = table['Salary Estimate'].apply(lambda x: x.split('(')[0])
salary[0:5]

0    $77K-$92K
1    $77K-$92K
2    $77K-$92K
3    $77K-$92K
4    $77K-$92K
Name: Salary Estimate, dtype: object

In [6]:
minus_Kd = salary.apply(lambda x: x.replace('K','').replace('$',''))
minus_Kd[0:5]

0    77-92
1    77-92
2    77-92
3    77-92
4    77-92
Name: Salary Estimate, dtype: object

In [7]:
table['hourly'] = table['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)

In [9]:
#table.head()
min_hr = minus_Kd.apply(lambda x: x.lower().replace('per hour',''))

In [14]:
table['min_salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))
table['max_salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))

In [16]:
#table.tail()
#table['min_salary'].dtype
table['avg_salary'] = (table['min_salary'] + table.max_salary) / 2

In [47]:
table.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,avg_salary,Company_text,job_state,same state,age,python_yn,r_yn,spark_yn,aws_yn,excel_yn
0,Data Scientist,$77K-$92K (Glassdoor Est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,84.5,Affinity Solution,NY,1,22,1,0,0,0,1
1,Data Scientist,$77K-$92K (Glassdoor Est.),"Secure our Nation, Ignite your Future\n\nSumma...",4.1,ManTech\n4.1,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,...,84.5,ManTec,VA,0,52,0,0,0,0,0
2,Data Scientist,$77K-$92K (Glassdoor Est.),"By clicking the Apply button, I understand tha...",3.7,Takeda\n3.7,"Cambridge, MA","OSAKA, Japan",10000+ employees,1781,Company - Public,...,84.5,Taked,MA,0,239,1,0,1,0,0
3,Data Scientist,$77K-$92K (Glassdoor Est.),Join Our Growing Team\nA career with A Place f...,3.0,A Place for Mom\n3.0,"Overland Park, KS","New York, NY",501 to 1000 employees,2000,Company - Private,...,84.5,A Place for Mo,KS,0,20,1,0,0,1,1
4,Data Scientist,$77K-$92K (Glassdoor Est.),We are looking for Data Scientists who are int...,3.7,GovTech\n3.7,"San Francisco, CA","Singapore, Singapore",1001 to 5000 employees,2016,Government,...,84.5,GovTec,CA,0,4,1,0,0,0,1

In [29]:
# Clean 'Company Name' for text only
table['Company_text'] = table.apply(lambda x: x['Company Name'] if x['Rating']< 0. else x['Company Name'][:-5], axis=1)

In [37]:
# State Field
table['job_state'] = table['Location'].apply(lambda x: x.split(',')[1] if ',' in x.lower() else x)

In [39]:
table['same state'] = table.apply(lambda x: 1 if x['Location'] == x['Headquarters'] else 0, axis = 1)

In [40]:
# Age of company
table['age'] = table['Founded'].apply(lambda x: x if x < 0 else 2020 - x)

In [42]:
# Parsing of Job description
#Python
table['python_yn'] = table['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

In [43]:
#r studio
table['r_yn'] = table['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)

In [44]:
#spark
table['spark_yn'] = table['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

In [45]:
#aws
table['aws_yn'] = table['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

In [46]:
#excel
table['excel_yn'] = table['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

In [48]:
table.to_csv('jobs_data_cleaned.csv', index = False)